.omisji__content {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: $bgcol;
    }
    p{
        display: inline;
        text-align: center;
        margin: 10px;  
    }